@model Pulse360.Models.Designation

<h2>Edit Designation</h2>

<form method="post">
    <input type="hidden" asp-for="DesignationId" />
    <div class="form-group">
        <label for="Name">Designation Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </div>
</form>
