@model AddAdminDocName

<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
    <div class="my-auto mb-2">
        <h2 class="mb-1">Edit Admin Document Name</h2>
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="ti ti-smart-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                    Admin
                </li>
                <li class="breadcrumb-item active" aria-current="page">Edit Admin Document Name</li>
            </ol>
        </nav>
    </div>

</div>

<br />
<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
        <h5 class="mb-0">Edit Admin Document Name</h5>
    </div>
    <div class="card-body">
        <form method="post" style="width:30%">
            <label for="exampleInputDocName">Document Name</label>
            <input type="text" class="form-control" placeholder="Enter Document Name" asp-for="DocName" />
            <input type="submit" class="btn btn-info" value="Update" />

        </form>
    </div>
</div>




